html {
  font-family: 'Shrikhand', sans-serif;
}
.spotify {
  position: absolute;
  top: 90%;
  width: 100%;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  z-index: 21;
}
.play-list-item {
  border: 2px solid;
  height: 300px;
  width: 300px;
  margin: 1%;
  overflow: hidden;
}
.hover-state {
  background: rgba(255,255,255,0.2);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
}
.hover-state p {
  display: inherit;
  border: 1px solid black;
  border-radius: 20px;
  padding: 5px;
}
